.DS_Store
.vscode
.idea
python/crawling02/crawling_project/config
python/crawling02/crawling_project/migrations
python/crawling02/crawling_project/mongo
python/crawling02/crawling_project/.idea
problem_solving/baekjoon/test.py